In [ ]:
import pandas as pd
import numpy as np

# Generate sample data
np.random.seed(0)
data = {
    'A': np.random.randint(1, 100, 10),
    'B': np.random.rand(10), # Adding a 2nd numerical column    
    'C': np.random.choice(['foo', 'bar', 'baz'], 10),
    'D': np.random.randn(10)  # Adding a 4th numerical column
}

# Load data into a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

    A         B    C         D
0  45  0.891773  bar -2.552990
1  48  0.963663  baz  0.653619
2  65  0.383442  foo  0.864436
3  68  0.791725  baz -0.742165
4  68  0.528895  foo  2.269755
5  10  0.568045  bar -1.454366
6  84  0.925597  bar  0.045759
7  22  0.071036  baz -0.187184
8  37  0.087129  foo  1.532779
9  88  0.020218  bar  1.469359

In [ ]:
df.to_csv('data.csv', index=False)